<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to Airplane Ticket Booking System!</h1>
  <!-- <div>{{data}}</div> -->

  <!-- <div>
    <table border="1">
    {% for rows in data %}
    <tr>
    {% for cell in rows %}
    <td>{{cell}}</td>
    {% endfor %}
    </tr>
    {% endfor %}
   
  </div> -->

<p><a href="">Homepage</a></p>
<form method="POST" action="/usr">
<table>
<tr>
<td><label for="text">Account</label></td> 
<td><input type="text" name="account"></td>
<td><label for="text">Password</label></td>  
<td><input type="password" name="psswrd"></td>
<td><input type="submit" value="enter"></td>
</tr></table>
</form>
<!-- <form method="POST" action="/add">
add new row to test table: <input type="text" name="Tname"> <input type="submit" value="Add">
</form>


<form method="POST" action="/search">
Select Table: <input type="text" name="Tname"> <input type="submit" value="search">
</form> -->
<form method="post" action="/admin">
<table><tr>
    <td><label for="text">OR:   Log In as Admin</label></td> 
    <td><button type="submit">Enter</button></td>
</table></tr>
</form>
<p align="left">Search Ticket:</p>

<form method="POST" action="/ticket">

    <table>

        <tr>
            <td><label for="text">From</label></td>
            <td><select name="from">
            <option value="---">----------</option>
            <option value="Moscow">Moscow</option>
            <option value="Huston">Huston</option>
            <option value="Paris">Paris</option>
            <option value="Beijing">Beijing</option>
            <option value="London">London</option>
            <option value="Tokyo">Tokyo</option>
            <option value="Vancouver">Vancouver</option>
          </select></td>
            <!-- <td><input type="text"  name="from" /></td> -->
        </tr>
        <tr>
            <td><label for="text">To</label></td>
            <td><select name="to">
            <option value="---">----------</option>
            <option value="Berlin">Berlin</option>
            <option value="Paris">Paris</option>
            <option value="New York">New York</option>
            <option value="Zurich">Zurich</option>
            <option value="Beijing">Beijing</option>
          </select></td>
            <!-- <td><input type="text"  name="to" /></td> -->
        </tr>
        <tr>
            <td><label for="text">When</label></td>
            <td><select name="when">
            <option value="---">----------</option>
            <option value="2016-10-09">2016-10-09</option>
            <option value="2016-10-10">2016-10-10</option>
            </select></td>
           <!--  <td><input type="text" name="when" /></td> -->
        </tr>
        <tr>
            <td><label for="text">flight no</label></td>
            <td><select name="flightno">
            <option value="---">-----------------</option>
            <option value="f0001">f0001</option>
            <option value="f0002">f0002</option>
            <option value="f0003">f0003</option>
            <option value="f0004">f0004</option>
            <option value="f0005">f0005</option>
            <option value="f0006">f0006</option>
            <option value="f0007">f0007</option>
            <option value="f0008">f0008</option>
            <option value="f0009">f0009</option>
            <option value="f0010">f0010</option>
          </select></td>
        </tr>
        <input type="hidden"  name="account" value = {{acct}}> 
        <tr>
            <td colspan=1>
                <input type="submit" value="submit" />
            </td>
        </tr>
    </table>

</form>

</body>


</html>
