<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to Airplane Ticket Booking System!</h1>
    <h3>Dear <font color='blue'>{{usrname[0]}} {{usrname[1]}}</font></h3>
    <h5>Account Information:</h5>
    <table  border="1" align="center">
    {% for rows in accountinfo %}
    <tr>
    {% for cell in rows %}
    <td>{{cell}}</td>
    {% endfor %}
    </tr>
    {% endfor %}
</table>

  

<p><a href="/">logout</a></p>

<!-- <form method="POST" action="/add">
<p>add new row to test table: <input type="text" name="Tname"> <input type="submit" value="Add"></p>
</form> -->
<form method="POST" action="/transaction">
<p>Check Transaction: 
<table><tr>
    <td><label for="text">From</label></td>
    <td><select name="tdatefrom">
    <option value="---">----------</option>
    <option value="2016-10-09">2016-10-09</option>
    <option value="2016-10-10">2016-10-10</option>
  </select></td>
    <!-- <td><input type="text"  name="tdatefrom" /></td> -->
    <td><label for="text">To</label></td>
    <td><select name="tdateto">
    <option value="---">----------</option>
    <option value="2016-10-09">2016-10-09</option>
    <option value="2016-10-10">2016-10-10</option>
    </select></td>
    <!-- <td><input type="text"  name="tdateto" /></td> -->
    <td colspan=1><input type="submit" value="search" /></td>
</tr></table>
</p>
</form>
<p align="left">Search Ticket:</p>
<form method="POST" action="/ticket">
    <table>
        <tr>
            <td><label for="text">From</label></td>
            <td><select name="from">
            <option value="---">----------</option>
            <option value="Moscow">Moscow</option>
            <option value="Huston">Huston</option>
            <option value="Paris">Paris</option>
            <option value="Beijing">Beijing</option>
            <option value="London">London</option>
            <option value="Tokyo">Tokyo</option>
            <option value="Vancouver">Vancouver</option>
          </select></td>
            <!-- <td><input type="text"  name="from" /></td> -->
        </tr>
        <tr>
            <td><label for="text">To</label></td>
            <td><select name="to">
            <option value="---">----------</option>
            <option value="Berlin">Berlin</option>
            <option value="Paris">Paris</option>
            <option value="New York">New York</option>
            <option value="Zurich">Zurich</option>
            <option value="Beijing">Beijing</option>
          </select></td>
            <!-- <td><input type="text"  name="to" /></td> -->
        </tr>
        <tr>
            <td><label for="text">When</label></td>
            <td><select name="when">
            <option value="---">----------</option>
            <option value="2016-10-09">2016-10-09</option>
            <option value="2016-10-10">2016-10-10</option>
            </select></td>
            <!-- <td><input type="text" name="when" /></td> -->
        </tr>
        <tr>
            <td><label for="text">flight no</label></td>
            <td><select name="flightno">
            <option value="---">-----------------</option>
            <option value="f0001">f0001</option>
            <option value="f0002">f0002</option>
            <option value="f0003">f0003</option>
            <option value="f0004">f0004</option>
            <option value="f0005">f0005</option>
            <option value="f0006">f0006</option>
            <option value="f0007">f0007</option>
            <option value="f0008">f0008</option>
            <option value="f0009">f0009</option>
            <option value="f0010">f0010</option>
          </select></td>
        </tr>
        <tr>
        <input type="hidden"  name="account" value = {{acct}}> 
            <td colspan=1>
                <input type="submit" value="submit" />
            </td>
        </tr>
    </table>
</form>

</p>
<div>
    <table border="1" align="center">
    <tr>
    {% for cells in data[0] %}
    <td>{{cells}}</td>
    {% endfor %}
    </tr>
    {% for rows in data[1:] %}
    <tr>
    {% for cell in rows %}
    <td>{{cell}}</td>
    {% endfor %}
    <td><a href="/buy/{{rows[1]}}">BUY</a></td>
    </tr>
    {% endfor %}
   </table>
  </div>


{% if data|length==2 %}
<p>CHECK MORE INFO:</p>
<p>Depart:<a href="/subinfo/airport/{{data[1][2]}}">{{data[1][2]}}</a>  Arrive: <a href="/subinfo/airport/{{data[1][3]}}">{{data[1][3]}} </a> Company: <a href="/subinfo/airline/{{data[1][8]}}">  {{data[1][8]}}</a>
<table align='center' border="1" align="center">
    {% for rows in subinfo %}
    <tr>
    {% for cell in rows %}
    <td>{{cell}}</td>
    {% endfor %}
    </tr>
    {% endfor %}
</table>  
</p>
{%endif %}


</body>


</html>
